.menu-conteyner {
  background-color: $button;
}

.menu {
  height: 80px;
  background-color: $button;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -34px;
  margin: auto;

  @include mobile-w {
    display: none;
  }
  @include mobile {
    display: none;
  }

  &__logo {
    font-family: "Josefin Sans";
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: left;
    color: $text-white;
  }
}
.navigation {
  &__list {
    display: flex;

    &__string {
      font-family: Aleo;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: right;
      color: $text-white;
      margin-left: 40px;
      text-transform: uppercase;
      transition: 400ms;

      @include laptop {
        margin-right: 13px;
        font-size: 13px;
        margin-left: 20px;
      }
      @include tablet {
        margin-left: 17px;
        font-size: 13px;
      }
    }
  }
}
/* hamburger-menu */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}
.menu__toggle:active {
  display: none;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: white;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;

  @include mobile {
    width: 100%;
    text-align: center;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #5474fd;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;

  @include mobile {
    font-size: 30px;
  }
}

.menu__item:hover {
  color: #95a8ff;
  font-size: 35px;
}

.hamburger-menu {
  display: none;
  @include mobile {
    display: block;
  }
  @include mobile-w {
    display: block;
  }
}
.menu__box {
  z-index: +2;
}
